<p>
  <strong><%= @recipe.name %></strong>
</p>

<p>
  <%= @recipe.infobox %>
</p>

<p>
  <tbody>
    <strong>tags:</strong>
    <% @recipe.categories.each do |category| %>
      <tr id="category-information-<%= category.id %>">
        <td><%= link_to category.name, category_path(:id => category.id) %> </td>
    </tr>
    <% end %>
  </tbody>
</p>

