<div><%= link_to "new recipe", new_recipe_path, class: "btn btn-default recipe-button" %></div>
<div><%= link_to "recipes", recipes_path, class: "btn recipe-button" %></div>
<br/>
<div><%= link_to 'new tag', new_category_path, class: "btn btn-default tag-button" %></div>
<div><%= link_to 'alla tags', categories_path, class: "btn tag-button" %></div>
<br/>


