<div><%= link_to "new recipe", new_recipe_path %></div>
<div><%= link_to "recipes", recipes_path %></div>
<br/>
<div><%= link_to 'new tag', new_category_path %></div>
<div><%= link_to 'alla tags', categories_path %></div>
