/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap-sprockets';
@import 'bootstrap';

.recipe-button {
  color: #1A2141;
  background-color: #FF5A00;
}

.tag-button {
  color: #FF5A00;
  background-color: #394A92;
}

h1 {
  color: #2B9F9F
}

.a:link {
  color: #9F3700
}

a.visited {
  color: #00739F
}

a.hover {
  color: #9F9400
}

a.active {
  color: #009F93
}







